html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 18px;
  color: $text-main-color;
  line-height: 1.44;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: #fff;
}

main {
  //margin-top: $navigation-height;

  @media screen and (min-width: $desktop) {
    //margin-top: $navigation-height;
    min-height: calc(100vh - 657px);
  }
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 1.22;
}

h1 {
  @include font-size(36);
  font-weight: 600;
  min-height: 129px;

  @include for-size(desktop) {
    font-size: $h1-size;
    min-height: 235px;
  }
}

h2 {
  @include font-size(30);
  font-weight: 400;

  @include for-size(desktop) {
    font-size: $h2-size;
  }
}

h3 {
  @include font-size(26);
  font-weight: 400;

  @include for-size(desktop) {
    font-size: $h3-size;
  }
}

h4 {
  @include font-size(20);
  font-weight: 400;

  @include for-size(desktop) {
    @include font-size(22);
  }
}

h5 {
  font-size: $h5-size;
  font-weight: 600;
}

p {
  margin: 0.4rem 0;
  line-height: 1.4;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $secondary;
}

ul, ol {
  margin: 0 0 0 $m;
  padding: 0;
}