.description {
  max-width: 800px;
  font-size: 24px;

  @include for-size(tablet) {
    font-size: 32px;
  }

  &--center-mobile {
    text-align: center;

    @include for-size(tablet) {
      text-align: left;
    }
  }

  &--mb {
    margin-bottom: 100px;
  }
}