.description {
  max-width: 800px;
  font-size: 26px;

  @include for-size(tablet) {
    @include font-size(30);
  }

  &--center-mobile {
    text-align: center;

    @include for-size(tablet) {
      text-align: left;
    }
  }

  &--mb {
    margin-bottom: 100px;
  }
}