.footer {
  padding: 60px 0;
  background: $primary;
  color: #fff;
  text-align: center;

  @include for-size(tablet) {
    text-align: left;
  }

  &__logo {
    height: 86px;
  }

  &__contact {
    color: #30DAE8;
  }

  &__link {
    display: block;
    padding: 2px 0;
    color: #fff;
  }
}
