.footer {
  padding: 60px 0;
  background: $primary;
  color: #fff;
  text-align: center;

  @include for-size(tablet) {
    text-align: left;
  }

  &__logo {
    height: 74px;
  }

  &__contact {
    color: $white;
    display: none;

    @include for-size(tablet) {
      display: block;
    }
  }

  &__icon-link {
    display: flex;
    margin: $s $xs $xs $xs;

    @include for-size(tablet) {
      margin: 0 $s 0 0;
    }
  }

  &__link {
    display: block;
    padding: 2px 0;
    color: #fff;
  }

  .col-md-6 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include for-size(tablet) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
