.news {
  &--horizontal {
    @include for-size(desktop) {
      .news__article {
        display: flex;
        flex-direction: row;
      }

      .news__img-container {
        width: 50%;
      }

      .news__content {
        width: 50%;
        padding: $m;
      }

      .news__img-container img {
        height: 300px;
      }
    }
  }

  &__article {
    margin-bottom: $l;

    &--no-margin {
      @include for-size(tablet) {
        margin-bottom: 0;
      }
    }
  }

  &__date {
    display: flex;
    font-weight: 300;
    margin-bottom: $xs;
  }

  &__text {
    flex: 1;
    margin: $xs 0;

    @include for-size(desktop) {
      margin: $xs 0 0;
    }

    h4 {
      margin: 20px 0 10px;
    }

    h5 {
      margin: 20px 0 10px;
    }

  }

  &__content {
    margin-top: $xs;
    display: flex;
    flex-direction: column;

    @include for-size(desktop) {
      height: 270px;
    }

  }

  &__more {
    align-self: flex-start
  }

  &__img-container {
    display: flex;
    background: $secondary;
  }

  img {
    object-fit: cover;
    height: 230px;
    mix-blend-mode: multiply;
    filter: grayscale(1);
  }

  &__back {
    margin-bottom: $m;
    display: inline-block;
  }

  &--details {
    .news__header {
      margin-bottom: $s;
    }

    h2 {
      margin-top: 20px;
      font-size: 30px;
    }

    img {
      height: auto;
      margin: 40px auto;
      display: block;
      filter: none;
    }
  }

  &__navigation {
    margin-top: $l;
  }

  figure {
    margin: 0;

    img {
      margin: 20px 0 10px 0;
      width: 100%;
    }
  }

  figcaption {
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: center;
  }

  .figure-center {
    img {
      margin: 20px auto 10px auto;
      width: auto;
    }
  }
}

/*
border: solid #fff;
border-top-width: medium;
border-right-width: medium;
border-bottom-width: medium;
border-left-width: medium;
border-width: 0 10px 10px 0;
display: inline-block;
padding: 20px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
position: absolute;
bottom: 37px;
left: calc(50% - 26px);*/
