.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $xl;
    text-align: center;

    @include for-size(tablet) {
        flex-direction: initial;
        text-align: initial;
        margin-top: $xxl;
    }

    &--mtn {
        margin-top: 0;
    }

    &--mbs {
        margin-bottom: $s;
    }

    &--border {
        border: solid 1px $primary;
        border-radius: 20px;
        padding: 30px;
    }

    &--center {
        text-align: center;
    }

    &__label {
        margin: $xs 0;
        @include font-size(18);

        @media (min-width: 768px) {
            margin: 0 0 $xs;
        }
    }

    &__header {
        margin-bottom: $s;

        @include for-size(tablet) {
            min-height: 83px;
        }
    }

    &__title {
        //margin-bottom: $s;
        //@include font-size(22);
    }

    &__icon {
        width: 60px;
        min-width: 60px;
        margin-bottom: $xs;

        @include for-size(tablet) {
            margin-right: $m;
            margin-bottom: 0;
        }

        &--top {
            @include for-size(tablet) {
                margin-bottom: auto;
            }
        }
    }

    &__text {
        max-width: 500px;
        font-size: 18px;

        &--full {
            max-width: 100%;
        }
    }
}
