.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $l;
    text-align: center;

    @include for-size(tablet) {
        flex-direction: initial;
        text-align: initial;
        margin-top: $xxl;
    }

    &--center-block {
        justify-content: center;
    }

    &--first {
        margin-top: 0;
    }

    &--mtn {
        margin-top: 0;
    }

    &--mtn-t {
        @include for-size(tablet) {
            margin-top: 0;
        }
    }

    &--mbs {
        margin-bottom: $s;
    }

    &--border {
        border: solid 1px $primary;
        border-radius: 20px;
        padding: 30px;
    }

    &--center {
        text-align: center;
    }

    &__label {
        margin: $xs 0;
        @include font-size(18);

        @media (min-width: 768px) {
            margin: 0 0 $xs;
        }
        order: 1;
    }

    &__header {
        margin-bottom: $s;

        @include for-size(tablet) {
            min-height: 83px;
        }

        order: 2;
    }

    &__title {
        //margin-bottom: $s;
        //@include font-size(22);
    }

    &__icon {
        width: 60px;
        min-width: 60px;
        margin-bottom: $xs;

        @include for-size(tablet) {
            margin-right: $m;
            margin-bottom: 0;
        }

        &--top {
            @include for-size(tablet) {
                margin-bottom: auto;
            }
        }

        &--small {
            width: 40px;
            height: 40px;
            min-width: 40px;

            @include for-size(tablet) {
                margin-right: $s;
            }
        }

        &--x-small {
            width: 30px;
            height: 30px;
            min-width: 30px;

            @include for-size(tablet) {
                margin-right: 0;
            }
        }
    }

    &__text {
        max-width: 500px;
        font-size: 18px;

        &--full {
            max-width: 100%;
        }
    }
}


.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    text-align: center;

    &__icon {
        width: 60px;
        min-width: 60px;
        margin-bottom: 10px;
        order: 0;
    }

    .button {
        order: 4;
    }
}