.section {
  padding: $xl 0;

  @include for-size(desktop) {
    padding: $xxl 0;
  }

  &--small {
    padding: $xl;
  }

  &--main {
    display: flex;
    align-items: center;
    height: 700px;

    @include for-size(tablet) {
      height: 100vh;
    }

    @include for-size(tablet) {
      //height: calc(100vh - 80px);
      min-height: 750px;
      max-height: 1440px;
    }
  }

  &--main--secondary {
    display: flex;
    align-items: center;
    height: 700px;

    @include for-size(tablet) {

    }
  }

  &--mobile-hide {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &--bg-primary {
    background: $primary;
  }

  &--bg-tertiary {
    background: $tertiary;
  }

  &--pts {
    padding-top: $l;
  }

  &--pt-xxl {
    padding-top: $xxl;
  }

  &--pb-xxl {
    padding-bottom: $xxl;
  }

  &--ptn {
    padding-top: 0;
  }

  &--pbn {
    padding-bottom: 0;
  }

  &--project {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #007FFF;
      mix-blend-mode: multiply;
      height: 700px;
    }
  }
}
