.steps {
  display: flex;
  font-size: 18px;

  &--mt {
    margin-top: $l;
  }

  &__step {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
  }

  &__label {
    margin-bottom: $s;
    text-align: center;
  }

  &__separator {
    border: 1px solid #fff;

    &--dark {
      border-color: #000;
    }
  }

  &__description {
    margin: 0;
    padding: $s $s 0;
  }
}
